# Prometheus Monitor Service (Metrics)
# Prometheus Operator is required to be installed first
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: aqua-scan-triggerer
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager-metrics-monitor
  namespace: system
spec:
  endpoints:
  - path: /metrics
    port: https
    scheme: https
    bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    tlsConfig:
      # TODO(user): The option insecureSkipVerify: true is not recommended for production since it disables
      # certificate verification. This exposes the system to potential man-in-the-middle attacks.
      # Consider using a cert-manager to generate a certificate and specify the caFile
      # for a more secure setup.
      insecureSkipVerify: true
  selector:
    matchLabels:
      control-plane: controller-manager
