# If you want to skip the service account creation, comment out the following line.
# This is useful if you want to use a pre-existing service account.
# Also, if you change the service account name, you must update the
# temporary name in the RoleBinding and ClusterRoleBinding subjects.
resources:
- service_account.yaml
- role.yaml
- role_binding.yaml
- leader_election_role.yaml
- leader_election_role_binding.yaml
# Comment the following 4 lines if you want to disable
# the auth proxy (https://github.com/brancz/kube-rbac-proxy)
# which protects your /metrics endpoint.
- auth_proxy_service.yaml
- auth_proxy_role.yaml
- auth_proxy_role_binding.yaml
- auth_proxy_client_clusterrole.yaml
